#cards_form{
    width: 32%;
    border: 1px solid;
    border-radius: 7px;
    padding: 1%;
    background-color: rgb(100, 142, 219);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}