#form_section {
    width: 30%;
    height: 800px;
    border: 1px #8c8db1 solid;
    border-radius: 2%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}